@font-face {
  font-family: CommitMono;
  src: url('../assets/fonts/CommitMonoNerdFontMono-Regular.otf');
}

@font-face {
  font-family: NotoMono;
  src: url('../assets/fonts/NotoMonoNerdFontMono-Regular.ttf');
}

:root {
  --color-one: #0d1117;
  --color-two: #27374D;
  --color-three: #526D82;
  --color-four: #9DB2BF;
  --color-five: #DDE6ED;
}

html {
  height: 100vh;
}

body {
  background-color: var(--color-one);
  color: var(--color-five);
  cursor: none;
  display: grid;
  font-family: NotoMono;
  font-size: 1rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100%;
  line-height: 1.5;
  margin: 0px;
}

#editor {
  grid-column: 3 / 9;
  grid-row: 1 / 8;
  outline: solid 2px var(--color-three);
}

#paragraph {
  text-wrap: wrap;
  word-break: break-all;
}

#status-line {
  grid-column: 1 / 9;
  grid-row: 8 / 9;
  outline: solid 2px var(--color-three);
}

#tree {
  grid-column: 1 / span 2;
  grid-row: 1 / 8;
  outline: solid 2px var(--color-three);
}

.outline {
  outline: solid 2px var(--color-three);
  outline-offset: 1rem;
}

