// https://colorhunt.co/palette/27374d526d829db2bfdde6ed
// #27374D rgb(39, 55, 77)
// #526D82 rgb(82, 109, 130)
// #9DB2BF rgb(157, 178, 191)
// #DDE6ED rgb(221, 230, 237)

@font-face {
  font-family: CommitMono; 
  src: url('../assets/fonts/CommitMonoNerdFontMono-Regular.otf'); 
} 

@font-face {
  font-family: NotoMono; 
  src: url('../assets/fonts/NotoMonoNerdFontMono-Regular.ttf'); 
} 

html {
  height: 100vh;
}

body {
  align-items: center;
  background-color: #27374D;
  background-color: #0d1117;
  color: #DDE6ED;
  display: flex;
  font-family: NotoMono;
  font-size: 1rem;
  height: 100%;
  justify-content: center;
  line-height: 1;
  margin: 0px;
}

#editor {
  display: block;
  height: calc(1rem * 24);
  outline: solid 2px #526D82;
  outline-color: #8d96a0;
  outline-color: #8b949e;
  outline-offset: 1rem;
  width: calc(1rem * 48);
}

#paragraph {
  text-wrap: wrap;
  word-break: break-all;
}

